# Google backend OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3004/api/google/callback
GOOGLE_SCOPES=https://www.googleapis.com/auth/drive.file https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/drive.readonly https://www.googleapis.com/auth/drive.metadata https://www.googleapis.com/auth/drive.metadata.readonly https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/spreadsheets.readonly

# Google Drive and Sheets application configuration
GOOGLE_BACKUP_FOLDER_ID=
GOOGLE_LEADS_SPREADSHEET_ID=
GOOGLE_LEADS_RANGE='לידים'!A:I
