[submodule "client/src/components/login"]
	path = client/src/components/shared/login
	url = https://github.com/omerbackflip/login
[submodule "client/src/components/shared/pdf"]
	path = client/src/components/shared/pdf
	url = https://github.com/omerbackflip/pdf.git
[submodule "app/shared/mongoose"]
	path = app/shared/mongoose
	url = https://github.com/omerbackflip/mongoose.git
